#wrap {
    width: 1020px;
    margin: auto;
}

.signup {
    background-color: blue;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
    font-family: Georgia, serif;
    text-align: center;
}

.cancel {
    background-color: red;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
    font-family: Georgia, serif;
    text-align: center;
}

input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: 2px solid grey;
    text-align: center;
}

.con {
    width: 1020px;
    font-size: 20px;
    font-style: bold;
    width:100%;
    text-align: center;
}

#con{
    width: 1020px;
}

#navig{
    width: 1020px;
}

/*Button*/
button {
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 14px;
    width: 12%;
    height: 10%;
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, serif;
 }
  
.buttonDiv {
    display: flex;
    justify-content: center;
}

button:hover {
    opacity: 0.8;
}

.divcon {
    font-size: 15px;
    font-style: bold;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

/*title animation*/
.tit {
    width: 1020px;
    font-size: 30px;
    font-style: bold;
    text-align: center;
    position: relative;
}



/*Column*/
#navig {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: auto;
}

.textDiv {
    width: 1020px;
    text-align: center;
    background-color: aqua;
    column-count: 2;
}

.bigDiv{
    width: 1020px;
}

.Search

#items {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgbox {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    max-width: 30%;
    margin-top: 30px;
}
.imgbox img {
    width: 100%;
    border-bottom: 1px solid gray;
}
.name {
    text-align: right;
}
.description {
    visibility: hidden;
    text-align: right;
    color: gray
}
.price {
    visibility: hidden;
    text-align: right;
    text-decoration: underline;
}

#searchTerm {
    width: 200px;
    height: 30px;
    font-size: 15px;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
#searchTerm:focus {
    outline: none;
}
#searchBtn {
    height: 35px;
    width: 50px;
    border: none;
    color: black;
}
#category {
    height: 35px;
}

#items {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
